* {
  background-color: #222831;
  color: #eeeeee;
  font-family: "Orbitron", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.time {
  display: flex;
  font-size: 10vw;
  padding: 20px;
  border-radius: 5%;
}
.timer {
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
h1 {
  font-weight: lighter;
  font-size: 5vw;
}
form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
form div {
  margin: 20px;
}

button,
input {
  background-color: #393e46;
  color: white;
  border: 2px solid #00adb5;
  border-radius: 10%;
  padding: 5px;
}
.display_none {
  display: none;
}
.fade_in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.timer_buttons button {
  height: 50px;
  width: 100px;
}

.load {
  position: absolute;
  height: 5vh;
  width: 100%;
  background-color: #00adb5;
}
button:hover {
  background-color: #00adb5;
  transform: scale(110%);
  transition: 0.5s;
}

@media (max-width: 600px) {
  .timer {
  }
}
